.App {
  margin: 1em;
  width: 97%;
}

.title {
  display: flex;
  justify-content: center;
}

.eachmeal {
  border: 1px solid #1c6ea4;
}

.media {
  margin-bottom: 1em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
